<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tranform to webp</title>
</head>
<body>
  <main>
    <section>
      <form
        id="form-transform"
        action="/transform"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file">
          <p>Choose file</p>
          <input type="file" name="file" id="file" accept="image/png, image/jpeg" />
        </label>
        <button type="submit">Convert image</button>
      </form>
    </section>
  </main>
</body>
</html>